body {
    background-color: rgb(17, 15, 15);
    /* background-image: url(./background.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin: 15% auto;
    width: 450px;
    padding: 20px 0 20px 20px;
    background-color: black;
    display: grid;
    grid-template-columns: 100px 100px 50px 50px 50px 50px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
    box-shadow: rgba(241, 235, 235, 0.07) 0px 1px 2px, rgba(228, 225, 225, 0.07) 0px 2px 4px, rgba(248, 230, 230, 0.07) 0px 4px 8px, rgba(252, 244, 244, 0.07) 0px 8px 16px, rgba(243, 240, 240, 0.07) 0px 16px 32px, rgba(243, 235, 235, 0.07) 0px 32px 64px;
}

.output {
    height: 1rem;
    grid-area: 1/1/2/7;
    text-align: right;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}

button {
    background-color: lightgray;


}

.action,
.check {
    background-color: orange;
    color: white;
    font-size: 1.5rem;

}

.action:focus,
.check:focus {
    background-color: white;
    color: orange;
}

.number,
.comma {
    background-color: rgb(106, 107, 107);
    color: white;
}

.del {
    grid-area: 2/3/3/4;
}

.check {
    grid-area: 6/5/7/7;
}

#add {
    grid-area: 5/6/6/7;

}

#substract {
    grid-area: 4/6/5/7;
}

#multiply {
    grid-area: 3/6/4/7;
}

#divide {
    grid-area: 2/6/3/7;
}

.comma {
    grid-area: 6/4/7/5;
}

#zero {
    grid-area: 6/3/7/4;
}

#one {
    grid-area: 5/3/6/4;
}

#two {
    grid-area: 5/4/6/5;
}

#three {
    grid-area: 5/5/6/6;
}

#four {
    grid-area: 4/3/5/4;
}

#five {
    grid-area: 4/4/5/5;
}

#six {
    grid-area: 4/5/5/6;
}

#seven {
    grid-area: 3/3/4/4;
}

#eight {
    grid-area: 3/4/4/5;
}

#nine {
    grid-area: 3/5/4/6;
}